 <form action="" method="post">
     {% csrf_token %} 
{% if not u %}
     <div class="field">
         <label for="from">From: </label>        
         <input type="text" name="fr" id="fr" />
     </div>
{% endif %}
     <div class="field">
         <label for="to">to: </label>
         <select name="to" id="to">
	{% for us in admins %}
<option value={{ us.username }}> {{ us.username }}</option>
{% endfor %}
</select>
     </div>
     <div class="field">
         <label for="msg">Message: </label>        
         <input type="text" name="msg" id="msg" />
     </div>
     <div class="form-actions">
         <input class="btn btn-primary" type="submit" value="leave a message">
     </div>
 </form>