{% extends "base.html" %}
{% block title%}
My Information
{% endblock %}

{% block body%}
<!-- topbar starts -->
  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">  
                <a class="brand" href="{% url 'websearch:index'%}">W-Search!</a>
                <ul class="nav">
                    {% if u %}
                    <li>
                        <img width="40" height="40" src="/static/face/{{ u.userprofile.face }}" />
                    </li>
                    <li id="user">
                        <a href="{% url 'websearch:edit'%}">{{ u }}</a>
                    </li>
                    <li id="mylike">
                        <a href="{% url 'websearch:like'%}">Mylike</a>
                    </li>
                    <li id="message">
                        <a href="{% url 'websearch:showmsg'%}">Message</a>
                    </li>
                    <li>
                        <a href="{% url 'websearch:login'%}">Logout <i class="icon-eject"></i></a>
                    </li>
                    {% else %}
                    <li id="log">
                        <a href="{% url 'websearch:login'%}">Login<i class="icon-play"></i></a>
                    </li>
                    <li id="register">
                        <a href="{% url 'websearch:register'%}">Register</a>
                    </li>
                    {% endif %}
                </ul>                     
            </div>                
        </div>
    </div>
    <!-- topbar ends -->
        <div class="container-fluid">
        <div class="row-fluid">
            <!-- left menu starts -->
            <div class="span2 main-menu-span">
                <div class="well nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="nav-header hidden-tablet">Main</li>
                        <li><a class="ajax-link" href="{% url 'websearch:index' %}"><i class="icon-home"></i><span class="hidden-tablet"> Home</span></a></li>
                        <li><a class="ajax-link" href="{% url 'websearch:edit' %}"><i class="icon-zoom-in"></i><span class="hidden-tablet"> Edit</span></a></li>
                        <li class="nav-header hidden-tablet">Personal Section</li>
                        <li><a class="ajax-link" href=" {% url 'websearch:like' %} "><i class="icon-star"></i><span class="hidden-tablet"> Love List</span></a></li> 
                        <li class="nav-header hidden-tablet">Message Section</li>
                        <li><a class="ajax-link" href="{% url 'websearch:showmsg' %}"><i class="icon-envelope"></i><span class="hidden-tablet"> Message List</span></a></li>
                        <li><a class="ajax-link" href="{% url 'websearch:addmsg' %}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Send Message</span></a></li>
                        <li class="nav-header hidden-tablet">Section</li>
                        <li><a class="ajax-link" href="{% url 'websearch:login' %}"><i class="icon-eject"></i><span class="hidden-tablet"> Login Out</span></a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <!-- left menu ends -->

            <div id="content" class="span10">
            <!-- content starts -->

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-align-justify"></i> Edit Page</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                                    <div>
                                           <form action="" method="post">
                                            {% csrf_token %} 
                                            
                                            <select id="face" name="face" onchange="document.images['face'].src='/static/face/'+options[selectedIndex].value; ">
                                                <option value="1.gif">1</option>
                                                <option value="2.gif">2</option>
                                                <option value="3.gif">3</option>
                                            </select>
                                            <div>
                                            <img id="face" src="/static/face/{{ face }}.gif" width="120" heigth="120"/>     </div>
                                            <label for="password">Password: </label>
                                            <input type="password" name="pw" id="pw" />
<label for="passwordinfo" id="passwordinfo"></label>
                                            <div class="form-actions">
                                                <input class="btn btn-primary" type="submit" value="update" id="update">
                                            </div>
                                        </form>
                                    </div>
                    </div>
                </div><!--/span-->
            
            </div><!--/row-->
                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->    
    </div><!--/.fluid-container-->



<script type="text/javascript" src="/static/prototype.js"></script>


<script type="text/javascript">
document.getElementById('face').options[{{ face }}-1].selected=true
</script>

<script>
    var passCheck = '';
document.getElementById("update").onclick = go;
document.getElementById("pw").onchange = document.getElementById("pw").onkeyup = checkpassword;
    function go(){

      passCheck = "checking";
      if(!checkpassword())
		return false;
      return submit_wait();
    }
 
    function checkpassword(){
      var obj = document.getElementById("pw");
      info_first = document.getElementById("passwordinfo");
      info_first.innerHTML="";

      if(obj.value.length < 6) {
        info_first.innerHTML="Password can not be empty!";
        passCheck = "error";
        return false;
      }
      passCheck = "OK";
return true;
    }
    function submit_wait(){
        if(passCheck == "OK" ){
            return true;
        }
	else{

		return false;
}
      }

</script>


{% endblock %}