{% extends "base.html" %}
{% block title %}
Send Message
{% endblock %}

{% block body%}
<!-- topbar starts -->
  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">  
                <a class="brand" href="{% url 'websearch:index'%}">W-Search!</a>
                <ul class="nav">
                    {% if u %}
                    <li>
                        <img width="40" height="40" src="/static/face/{{ u.userprofile.face }}" />
                    </li>
                    <li id="user">
                        <a href="{% url 'websearch:edit'%}">{{ u }}</a>
                    </li>
                    <li id="mylike">
                        <a href="{% url 'websearch:like'%}">Mylike</a>
                    </li>
                    <li id="message">
                        <a href="{% url 'websearch:showmsg'%}">Message</a>
                    </li>
                    <li>
                        <a href="{% url 'websearch:login'%}">Logout <i class="icon-eject"></i></a>
                    </li>
                    {% else %}
                    <li id="log">
                        <a href="{% url 'websearch:login'%}">Login<i class="icon-play"></i></a>
                    </li>
                    <li id="register">
                        <a href="{% url 'websearch:register'%}">Register</a>
                    </li>
                    {% endif %}
                </ul>                     
            </div>                
        </div>
    </div>
    <!-- topbar ends -->
        <div class="container-fluid">
        <div class="row-fluid">
            <!-- left menu starts -->
            <div class="span2 main-menu-span">
                <div class="well nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="nav-header hidden-tablet">Main</li>
                        <li><a class="ajax-link" href="{% url 'websearch:index' %}"><i class="icon-home"></i><span class="hidden-tablet"> Home</span></a></li>
                        <li><a class="ajax-link" href="{% url 'websearch:edit' %}"><i class="icon-zoom-in"></i><span class="hidden-tablet"> Edit</span></a></li>
                        <li class="nav-header hidden-tablet">Personal Section</li>
                        <li><a class="ajax-link" href=" {% url 'websearch:like' %} "><i class="icon-star"></i><span class="hidden-tablet"> Love List</span></a></li> 
                        <li class="nav-header hidden-tablet">Message Section</li>
                        <li><a class="ajax-link" href="{% url 'websearch:showmsg' %}"><i class="icon-envelope"></i><span class="hidden-tablet"> Message List</span></a></li>
                        <li><a class="ajax-link" href="{% url 'websearch:addmsg' %}"><i class="icon-align-justify"></i><span class="hidden-tablet"> Send Message</span></a></li>
                        <li class="nav-header hidden-tablet">Section</li>
                        <li><a class="ajax-link" href="{% url 'websearch:login' %}"><i class="icon-eject"></i><span class="hidden-tablet"> Login Out</span></a></li>
                    </ul>
                </div><!--/.well -->
            </div><!--/span-->
            <!-- left menu ends -->

            <div id="content" class="span10">
            <!-- content starts -->

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header well" data-original-title>
                        <h2><i class="icon-align-justify"></i> Send a  Message</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                            <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                                    <div>
                                        <form action="" method="post">
                                            {% csrf_token %} 
                                            <div class="field">
                                                <label for="to">To: </label>
                                                <select name="to" id="to">
                                                    {% for us in users %}        
                                                    {% if not u or u != us %}   
                                                    <option value={{ us.username }}> {{ us.username }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="field">
                                                <label for="msg">Message: </label>        
                                                <input type="text" name="msg" id="msg" />
                                            </div>
                                            <div class="form-actions">
                                                <input class="btn btn-primary" type="submit" value="Send a message">
                                            </div>
                                        </form>
                                    </div>
                    </div>
                </div><!--/span-->
            
            </div><!--/row-->
                    <!-- content ends -->
            </div><!--/#content.span10-->
                </div><!--/fluid-row-->    
    </div><!--/.fluid-container-->



<script type="text/javascript" src="/static/prototype.js"></script>
<script>
var btns = document.getElementsByTagName('button');

for(i = 0; i < btns.length; i++){
    btns[i].onclick = unlike;
}
function unlike(e){
    var t = e.target;
    var href = t.parentNode.getElementsByTagName('a')[0].href;
    new Ajax.Request(
        "{% url 'websearch:unlikeit' %}",
        {
            method:"post",
            parameters:"href="+ href,   
            setRequestHeader:{"If-Modified-Since":"0"},
            onComplete:function(x){   
                    alert(x.responseText);
            window.location.href = "{% url 'websearch:like' %}";
            },
            onError:function(x){  
                    alert(x.statusText);
            } 
        } 
    )
}

</script>






{% endblock %}


